.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0f0c29;
    color: #c4d8e2;  
}

.loginLink {
    font-size: medium;
}

.signupLink {
    font-size: medium;
}