.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1F2937;
    color: #E5E7EB;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 300px;
    max-width: 500px;
    background-color: #111827;
    padding: 2rem;
    border-width: 1px;
    border: 1px groove whitesmoke;
    margin: 12px;
    border-radius: 0.25rem;

  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ffaf00;
    color: #0f0c29;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #f59e0b;
  }
  